MQTTLab/rulesFlow.json
[{"id":"5d565ef3.cbb93","type":"mqtt in","z":"47ff9521.0c9284","name":"","topic":"alta/piso1/local1","qos":"0","broker":"72e2c395.5970fc","x":170,"y":160,"wires":[["21c9c2af.6e064e"]]},{"id":"21c9c2af.6e064e","type":"json","z":"47ff9521.0c9284","name":"","property":"payload","action":"","pretty":false,"x":390,"y":160,"wires":[["37742cb.3d0bf54","e29ff178.1ab608"]]},{"id":"37742cb.3d0bf54","type":"function","z":"47ff9521.0c9284","name":"Processing Data","func":"var msg = msg.payload.temperature;\nres = {};\nres.data = 0;\nif(msg.data>23.0){\n    res = {};\n    res.payload = \"TEMPERATURA FUERA DE RANGO\\rLugar: \" + msg.place;\n    res.payload += \"\\rValor: \" + msg.data + \" °C\";\n    res.flag = 1;\n    \n    msg.topic = \"TEMPERATURA FUERA DE RANGO\";\n    return res;\n\n}\nreturn res;","outputs":1,"noerr":0,"x":630,"y":160,"wires":[["f3c82413.d97ac8","57c34819.a6fe78"]]},{"id":"e29ff178.1ab608","type":"debug","z":"47ff9521.0c9284","name":"afterJsonMQTT","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":580,"y":80,"wires":[]},{"id":"f3c82413.d97ac8","type":"switch","z":"47ff9521.0c9284","name":"filter","property":"flag","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":770,"y":200,"wires":[["b8cbd7fd.af0b48","b56dffdd.ac6cd"]]},{"id":"b8cbd7fd.af0b48","type":"e-mail","z":"47ff9521.0c9284","server":"smtp.office365.com","port":"587","secure":false,"name":"m.neira10@uniandes.edu.co","dname":"Send Notification","x":960,"y":260,"wires":[]},{"id":"57c34819.a6fe78","type":"debug","z":"47ff9521.0c9284","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"after proc data","x":910,"y":100,"wires":[]},{"id":"b56dffdd.ac6cd","type":"debug","z":"47ff9521.0c9284","name":"after filter","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":820,"y":380,"wires":[]},{"id":"72e2c395.5970fc","type":"mqtt-broker","z":"","name":"Juliana","broker":"172.24.42.25","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
