MQTTLab/telemitryFlow.json
[{"id":"11242812.ba5948","type":"inject","z":"2e3b2f86.04944","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["5331b09e.95856","ceb16365.f584c8"]]},{"id":"5331b09e.95856","type":"function","z":"2e3b2f86.04944","name":"Format Time","func":"var res = {};\n\nres.payload = {\"Fecha\" : new Date(msg.payload)};\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["4a8a2b8.42c8854","6552ce27.9613d8"]]},{"id":"ceb16365.f584c8","type":"debug","z":"2e3b2f86.04944","name":"beforeFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":240,"wires":[]},{"id":"9233adbf.0dbf48","type":"debug","z":"2e3b2f86.04944","name":"beforeFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":500,"wires":[]},{"id":"4a8a2b8.42c8854","type":"debug","z":"2e3b2f86.04944","name":"afterFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":220,"wires":[]},{"id":"baea7c51.5d1b48","type":"debug","z":"2e3b2f86.04944","name":"afterFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":500,"wires":[]},{"id":"6552ce27.9613d8","type":"function","z":"2e3b2f86.04944","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\n//return msg.payload;\n\nswitch (msg.topic) \n{\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        \n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) \n\n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature1\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["ee59036a.c644e","50cd9625.71ae6"]]},{"id":"ee59036a.c644e","type":"debug","z":"2e3b2f86.04944","name":"afterMerge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":440,"wires":[]},{"id":"ba118a8b.766f9","type":"udp out","z":"2e3b2f86.04944","name":"sendTemperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":200,"wires":[]},{"id":"40f0b2f6.d24bfc","type":"inject","z":"2e3b2f86.04944","name":"arduSim","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["79d31e6d.c8ec2"]]},{"id":"79d31e6d.c8ec2","type":"random","z":"2e3b2f86.04944","name":"tempRandom","low":"15","high":"25","inte":"true","property":"payload","x":260,"y":500,"wires":[["9233adbf.0dbf48","fec40ec7.674e48"]]},{"id":"fec40ec7.674e48","type":"function","z":"2e3b2f86.04944","name":"forTemp","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempUnit = 'C';\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempString), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["6552ce27.9613d8","baea7c51.5d1b48"]]},{"id":"50cd9625.71ae6","type":"mqtt out","z":"2e3b2f86.04944","name":"","topic":"alta/piso1/local1","qos":"0","retain":"false","broker":"72e2c395.5970fc","x":1060,"y":260,"wires":[]},{"id":"72e2c395.5970fc","type":"mqtt-broker","z":"","name":"Juliana","broker":"172.24.42.25","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""}]
