MQTTLab/flujo_simulacion_controlador.json/flujo_simulacion_controlador.json
[{"id":"e8296c9a.f2f25","type":"inject","z":"9d7c6093.80d43","name":"Sensor time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":190,"y":260,"wires":[["9ebfc034.2ec17","acad4054.3a761"]]},{"id":"3f007653.da5e4a","type":"function","z":"9d7c6093.80d43","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempUnit = 'C';\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempString), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":622,"y":135,"wires":[["dfecfcf5.39451","9723fb80.3707d8"]]},{"id":"acad4054.3a761","type":"function","z":"9d7c6093.80d43","name":"Format Time","func":"var res = {};\n\n\nres.payload = new Date(msg.payload);\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":410,"y":260,"wires":[["7f40ed7.b4aa214","9723fb80.3707d8"]]},{"id":"9ebfc034.2ec17","type":"debug","z":"9d7c6093.80d43","name":"before format","active":false,"console":false,"complete":"payload","x":423,"y":330,"wires":[]},{"id":"7f40ed7.b4aa214","type":"debug","z":"9d7c6093.80d43","name":"after format","active":false,"console":false,"complete":"payload","x":780,"y":300,"wires":[]},{"id":"dfecfcf5.39451","type":"debug","z":"9d7c6093.80d43","name":"after format","active":false,"console":false,"complete":"payload","x":878.5714340209961,"y":100.71428489685059,"wires":[]},{"id":"9723fb80.3707d8","type":"function","z":"9d7c6093.80d43","name":"Merge 2 messages","func":"context.data = context.data || {};\n\nswitch (msg.topic) \n{\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) \n{\n\t\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature\";\n    context.data = null;\n\t\treturn res;\n}","outputs":1,"noerr":0,"x":818,"y":214,"wires":[["b32e70d5.c5373","d47a9c35.a05e4"]]},{"id":"d47a9c35.a05e4","type":"udp out","z":"9d7c6093.80d43","name":"Send temperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":1097,"y":178,"wires":[]},{"id":"b32e70d5.c5373","type":"debug","z":"9d7c6093.80d43","name":"after merge","active":false,"console":false,"complete":"payload","x":1080,"y":260,"wires":[]},{"id":"7db0bc56.36d6e4","type":"inject","z":"9d7c6093.80d43","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":180.64286041259766,"y":134.71428680419922,"wires":[["41e53f46.cb1e1"]]},{"id":"41e53f46.cb1e1","type":"random","z":"9d7c6093.80d43","name":"","low":"15","high":"25","inte":"true","property":"payload","x":402.5,"y":136,"wires":[["3f007653.da5e4a"]]}]
