VirtualEntityLab/entregaParcial/telemitryFlow.json
[{"id":"6e55f8b3.e73e2","type":"serial in","z":"2e3b2f86.04944","name":"temperatureSensor","serial":"f7e5ca31.8a2088","x":190,"y":440,"wires":[["e58e7dc3.34182","9233adbf.0dbf48"]]},{"id":"11242812.ba5948","type":"inject","z":"2e3b2f86.04944","name":"Sensor Time","topic":"roomTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":300,"wires":[["5331b09e.95856","ceb16365.f584c8"]]},{"id":"e58e7dc3.34182","type":"function","z":"2e3b2f86.04944","name":"Format Temperature","func":"var res = {};\nvar tempArray = [];\nvar tempUnit = \"\";\n\ntempString = msg.payload;\ntempArray = tempString.split(\"\\t\");\ntempUnit = tempArray[1].replace(\"\\r\\n\", \"\");\nres.topic = \"roomTemperature\";\nres.payload = {};\n\nres.payload = {\"data\": parseInt(tempArray[0]), \"unit\": tempUnit, \"place\": \"Deposito Externo\"}\n\nreturn res;","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["baea7c51.5d1b48","6552ce27.9613d8"]]},{"id":"5331b09e.95856","type":"function","z":"2e3b2f86.04944","name":"Format Time","func":"var res = {};\n\nres.payload = {\"Fecha\" : new Date(msg.payload)};\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":430,"y":300,"wires":[["4a8a2b8.42c8854","6552ce27.9613d8"]]},{"id":"ceb16365.f584c8","type":"debug","z":"2e3b2f86.04944","name":"beforeFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":430,"y":240,"wires":[]},{"id":"9233adbf.0dbf48","type":"debug","z":"2e3b2f86.04944","name":"beforeFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":480,"y":500,"wires":[]},{"id":"4a8a2b8.42c8854","type":"debug","z":"2e3b2f86.04944","name":"afterFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":670,"y":220,"wires":[]},{"id":"baea7c51.5d1b48","type":"debug","z":"2e3b2f86.04944","name":"afterFormat","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":730,"y":500,"wires":[]},{"id":"6552ce27.9613d8","type":"function","z":"2e3b2f86.04944","name":"Merge 2 Messages","func":"context.data = context.data || {};\n\n//return msg.payload;\n\nswitch (msg.topic) \n{\n    case \"roomTime\":\n        context.data.sensetime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.temperature = msg.payload;\n        msg = null;\n        break;\n    default:\n        msg = null;\n        \n    \tbreak;\n}\n\nif(context.data.sensetime != null && context.data.temperature != null) \n\n{\n\tres = {};\n    res.payload = JSON.stringify(context.data);\n    res.topic = \"roomTemperature1\";\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":860,"y":340,"wires":[["ee59036a.c644e","ba118a8b.766f9"]]},{"id":"ee59036a.c644e","type":"debug","z":"2e3b2f86.04944","name":"afterMerge","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":440,"wires":[]},{"id":"ba118a8b.766f9","type":"udp out","z":"2e3b2f86.04944","name":"sendTemperature","addr":"localhost","iface":"","port":"6000","ipv":"udp4","outport":"","base64":false,"multicast":"false","x":930,"y":200,"wires":[]},{"id":"f7e5ca31.8a2088","type":"serial-port","z":"","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true}]
