VirtualEntityLab/entregaFinal/processingFlow.json
[{"id":"c2db7174.db9f2","type":"tab","label":"Processing Flow","disabled":false,"info":""},{"id":"c570f213.1925b8","type":"udp in","z":"c2db7174.db9f2","name":"","iface":"","port":"6000","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":280,"y":380,"wires":[["bc920f39.ebf19","5ba7ec97.46fce4"]]},{"id":"bc920f39.ebf19","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":320,"wires":[]},{"id":"34467581.663662","type":"inject","z":"c2db7174.db9f2","name":"Incoming Time","topic":"incomingTime","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":500,"wires":[["979f2e78.c4336","f5b2d3e7.38c768"]]},{"id":"979f2e78.c4336","type":"function","z":"c2db7174.db9f2","name":"Format Time","func":"var res = {};\n\nres.payload = {\"Fecha\" : new Date(msg.payload)};\nres.topic = msg.topic;\n\nreturn res;","outputs":1,"noerr":0,"x":510,"y":500,"wires":[["7d3fafbb.715068","d6b1a720.bcbe3"]]},{"id":"d6b1a720.bcbe3","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":540,"wires":[]},{"id":"f5b2d3e7.38c768","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":540,"wires":[]},{"id":"ac3eeac7.8f904","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":810,"y":320,"wires":[]},{"id":"2aa1cbc1.1985cc","type":"debug","z":"c2db7174.db9f2","name":"merge2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.room","x":900,"y":380,"wires":[]},{"id":"6357594f.dda6e8","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":320,"wires":[]},{"id":"5ba7ec97.46fce4","type":"json","z":"c2db7174.db9f2","name":"","property":"payload","action":"","pretty":false,"x":470,"y":380,"wires":[["b74e3032.c7d6","6357594f.dda6e8"]]},{"id":"b74e3032.c7d6","type":"function","z":"c2db7174.db9f2","name":"addTopic","func":"var res = {};\nhttps://codeshare.io/\nres.payload = msg.payload;\nres.topic = \"roomTemperature\";\n\nreturn res;","outputs":1,"noerr":0,"x":620,"y":380,"wires":[["7d3fafbb.715068","ac3eeac7.8f904"]]},{"id":"7d3fafbb.715068","type":"function","z":"c2db7174.db9f2","name":"Merge 2 Mesgs","func":"context.data = context.data || {};\n\nswitch (msg.topic) {\n    case \"incomingTime\":\n        context.data.recvtime = msg.payload;\n        msg = null;\n        break;\n    case \"roomTemperature\":\n        context.data.room = msg.payload;\n        msg = null;\n        break;\n        \n    default:\n        msg = null;\n    \tbreak;\n}\n\nif(context.data.recvtime != null && context.data.room != null) {\n\tres = {};\n    res.payload = context.data;\n    res.topic = \"roomTemperature\"\n    context.data = null;\n\treturn res;\n}","outputs":1,"noerr":0,"x":800,"y":440,"wires":[["2aa1cbc1.1985cc","1d40cd4c.341dcb","a6dd6e22.bbaa78"]]},{"id":"1d40cd4c.341dcb","type":"mongodb out","z":"c2db7174.db9f2","mongodb":"6bd46e3b.a58aa","name":"Save Tpsec","collection":"temperaturespsec","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1010,"y":440,"wires":[]},{"id":"a6dd6e22.bbaa78","type":"link out","z":"c2db7174.db9f2","name":"secs","links":["f29c40f4.a25718"],"x":955,"y":520,"wires":[]},{"id":"3a9e52c0.d2f48e","type":"inject","z":"c2db7174.db9f2","name":"Processing Signal","topic":"","payload":"true","payloadType":"bool","repeat":"60","crontab":"","once":false,"onceDelay":"0","x":270,"y":760,"wires":[["c5984016.0da148","a9530d33.2c2328"]]},{"id":"c5984016.0da148","type":"function","z":"c2db7174.db9f2","name":"Create Query","func":"  var res = {};\n  res.skip = 0;\n  res.limit = 60;\n  var signal = msg.payload;\n\n  var t = new Date(Date.now() - 60*1000);\n  var maxtime = t.toISOString();\n  var query = {\"room.sensetime.Fecha\":{$gte: maxtime}};\n\n  if(signal === true){\n\n      res.payload = query;\n      res.topic = \"mongoQuery\"\n      return res;\n  }","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["47484b04.e6e1cc","d99ef6db.d7d0c8"]]},{"id":"a9530d33.2c2328","type":"debug","z":"c2db7174.db9f2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":700,"wires":[]},{"id":"bfe501b3.584e48","type":"function","z":"c2db7174.db9f2","name":"Processing Average","func":"var res = {payload:null};\nvar query = msg.payload;\nvar avgUnit = query[0].room.temperature.unit;\nvar avgPlace = query[0].room.temperature.place;\nvar tempData = 0;\nvar avgTemp = 0;\nvar avgTime = 0;\n\n// procesa la temperatura promedio del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + query[i].room.temperature.data;\n}\n\navgTemp = parseInt(tempData/query.length);\ntempData = 0;\n// calcula el tiempo estimado del intervalo\nfor(var i = 0; i < query.length; i++){\n    \n    tempData = tempData + new Date(query[i].room.sensetime.Fecha).getTime();\n}\n\n\n\navgTime = Math.round(tempData/query.length);\navgTime = new Date(avgTime);\n\nres.payload = {protime:new Date(Date.now()), sensetime:avgTime, temperature:{data:avgTemp, unit:avgUnit, place:avgPlace}};\nres.topic = \"avgpminTemperature\";\nreturn res;\n","outputs":1,"noerr":0,"x":840,"y":760,"wires":[["2ff675ac.67ad72","ceeae10d.583bd","2e7b3a58.b1b316"]]},{"id":"2ff675ac.67ad72","type":"link out","z":"c2db7174.db9f2","name":"mins","links":["42b6d3f.72aa9ac"],"x":995,"y":840,"wires":[]},{"id":"ceeae10d.583bd","type":"mongodb out","z":"c2db7174.db9f2","mongodb":"6bd46e3b.a58aa","name":"Save TempPromMin","collection":"temperaturespmin","payonly":false,"upsert":false,"multi":false,"operation":"store","x":1080,"y":780,"wires":[]},{"id":"2e7b3a58.b1b316","type":"debug","z":"c2db7174.db9f2","name":"outProcessingTemperature","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1100,"y":720,"wires":[]},{"id":"47484b04.e6e1cc","type":"debug","z":"c2db7174.db9f2","name":"debug CreateQuery ","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":680,"wires":[]},{"id":"c74a4b6.180bd38","type":"debug","z":"c2db7174.db9f2","name":"debug Find Tpmin","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":910,"y":900,"wires":[]},{"id":"d99ef6db.d7d0c8","type":"mongodb in","z":"c2db7174.db9f2","mongodb":"6bd46e3b.a58aa","name":"Find Tpmin Proc FLow","collection":"temperaturespsec","operation":"find","x":700,"y":820,"wires":[["c74a4b6.180bd38","bfe501b3.584e48"]]},{"id":"6bd46e3b.a58aa","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""}]
