VirtualEntityLab/entregaFinal/serviceFlow.json
[{"id":"96d8c4c9.325ab","type":"http in","z":"2a48d465.591ce4","name":"GET temp/sec/find","url":"/temperature/sec/find","method":"get","upload":false,"swaggerDoc":"","x":230,"y":80,"wires":[["78fa69cd.475a2"]]},{"id":"75d835ae.d0debc","type":"http in","z":"2a48d465.591ce4","name":"GET /temp/min/find","url":"/temperature/min/find","method":"get","upload":false,"swaggerDoc":"","x":230,"y":160,"wires":[["66f6a17d.dcd6d8"]]},{"id":"c3894064.cb4938","type":"http in","z":"2a48d465.591ce4","name":"GET temp/sec/count","url":"/temperature/sec/count","method":"get","upload":false,"swaggerDoc":"","x":230,"y":220,"wires":[["d9aa2b01.63e198"]]},{"id":"65dac45.9704dbc","type":"http in","z":"2a48d465.591ce4","name":"GET temp/min/count","url":"/temperature/min/count","method":"get","upload":false,"swaggerDoc":"","x":230,"y":280,"wires":[["325e31e3.1547e6"]]},{"id":"78fa69cd.475a2","type":"mongodb in","z":"2a48d465.591ce4","mongodb":"6bd46e3b.a58aa","name":"Find Tpsec","collection":"temperaturespsec","operation":"find","x":450,"y":80,"wires":[["4f76604c.b4b408"]]},{"id":"66f6a17d.dcd6d8","type":"mongodb in","z":"2a48d465.591ce4","mongodb":"6bd46e3b.a58aa","name":"Find Tpmin","collection":"temperaturespmin","operation":"find","x":450,"y":160,"wires":[["4014ecd4.f00fbc"]]},{"id":"d9aa2b01.63e198","type":"mongodb in","z":"2a48d465.591ce4","mongodb":"6bd46e3b.a58aa","name":"Count Tpsec","collection":"temperaturespsec","operation":"find","x":450,"y":220,"wires":[["f8f585de.f0dc1"]]},{"id":"325e31e3.1547e6","type":"mongodb in","z":"2a48d465.591ce4","mongodb":"6bd46e3b.a58aa","name":"Count Tpmin","collection":"temperaturespmin","operation":"find","x":450,"y":280,"wires":[["f2aade67.9e5428"]]},{"id":"4f76604c.b4b408","type":"function","z":"2a48d465.591ce4","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":80,"wires":[["e69ad439.0d9d98"]]},{"id":"4014ecd4.f00fbc","type":"function","z":"2a48d465.591ce4","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":160,"wires":[["5e85e08f.49c078"]]},{"id":"f8f585de.f0dc1","type":"function","z":"2a48d465.591ce4","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["402eba6a.0d591c"]]},{"id":"f2aade67.9e5428","type":"function","z":"2a48d465.591ce4","name":"Content Type","func":"msg.headers = {\"Content-Type\":\"application/json\"};\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":280,"wires":[["17e76261.c1586e"]]},{"id":"e69ad439.0d9d98","type":"http response","z":"2a48d465.591ce4","name":"http find temp/sec","statusCode":"","headers":{},"x":850,"y":80,"wires":[]},{"id":"5e85e08f.49c078","type":"http response","z":"2a48d465.591ce4","name":"http find temp/min","statusCode":"","headers":{},"x":850,"y":160,"wires":[]},{"id":"402eba6a.0d591c","type":"http response","z":"2a48d465.591ce4","name":"http count temp/sec","statusCode":"","headers":{},"x":860,"y":220,"wires":[]},{"id":"17e76261.c1586e","type":"http response","z":"2a48d465.591ce4","name":"http count temp/min","statusCode":"","headers":{},"x":860,"y":280,"wires":[]},{"id":"f29c40f4.a25718","type":"link in","z":"2a48d465.591ce4","name":"","links":["a6dd6e22.bbaa78"],"x":235,"y":440,"wires":[["812a87e5.edbbe","76923f6d.6130c"]]},{"id":"42b6d3f.72aa9ac","type":"link in","z":"2a48d465.591ce4","name":"minsService","links":["2ff675ac.67ad72"],"x":235,"y":560,"wires":[["c5c4043c.763438","4fbd5dbf.d6914c"]]},{"id":"76923f6d.6130c","type":"function","z":"2a48d465.591ce4","name":"Format 4 secs","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.room.sensetime;\ntemp = input.room.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":1,"noerr":0,"x":500,"y":440,"wires":[["923eac5b.3459d","57a6c14a.f5d3e","54e7f14e.1ef22"]]},{"id":"4fbd5dbf.d6914c","type":"function","z":"2a48d465.591ce4","name":"Format 4 mins","func":"var input = msg.payload;\nvar time = null;\nvar temperature = 0;\nvar res1 = {payload:null};\nvar res2 = {payload:null};\n\ntime = input.sensetime;\ntemp = input.temperature.data;\n\nres1.payload = temp;\nres1.topic = \"temperature\";\nres2.payload = time;\nres2.topic = \"time\";\n\nreturn [res1, res2];","outputs":1,"noerr":0,"x":480,"y":560,"wires":[["f06347d4.2a9f6","c9cb18e3.9091c8","14f05071.b6df18"]]},{"id":"812a87e5.edbbe","type":"debug","z":"2a48d465.591ce4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":350,"y":360,"wires":[]},{"id":"c5c4043c.763438","type":"debug","z":"2a48d465.591ce4","name":"inServiceMin","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":350,"y":520,"wires":[]},{"id":"923eac5b.3459d","type":"debug","z":"2a48d465.591ce4","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":360,"wires":[]},{"id":"f06347d4.2a9f6","type":"debug","z":"2a48d465.591ce4","name":"afterFormat4mins","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":630,"y":520,"wires":[]},{"id":"57a6c14a.f5d3e","type":"ui_chart","z":"2a48d465.591ce4","name":"Temperature Sec Chart ","group":"c7a0d777.c613e8","order":0,"width":"8","height":"6","label":"Historico de Temperatura [sec]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":440,"wires":[[],[]]},{"id":"c9cb18e3.9091c8","type":"ui_chart","z":"2a48d465.591ce4","name":"","group":"c7a0d777.c613e8","order":0,"width":"8","height":"6","label":"Historico de Temperatura [min]","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"35","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":850,"y":560,"wires":[[],[]]},{"id":"54e7f14e.1ef22","type":"ui_gauge","z":"2a48d465.591ce4","name":"Instant Sec Temperature","group":"c7a0d777.c613e8","order":0,"width":"4","height":"6","gtype":"gage","title":"Temperatura actual","label":"°C","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":880,"y":480,"wires":[]},{"id":"14f05071.b6df18","type":"ui_gauge","z":"2a48d465.591ce4","name":"Gauge temp mins","group":"c7a0d777.c613e8","order":0,"width":"4","height":"6","gtype":"gage","title":"Promedio durante el último minuto","label":"units","format":"{{value}}","min":0,"max":"35","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":600,"wires":[]},{"id":"6bd46e3b.a58aa","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"rediot","name":""},{"id":"c7a0d777.c613e8","type":"ui_group","z":"","name":"Estado del Deposito ","tab":"426de08a.88f12","disp":true,"width":"12","collapse":false},{"id":"426de08a.88f12","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]se
